<% content_for :header do %>
  Excludes
<% end %>
<section>
<h3>Excludes overview</h3>
<table class="index sortable">
  <thead>
  <tr>
    <th>Path</th>
  </tr>
  </thead>
  <tbody>
<% @profile.excludes.each do |exclude| %>
  <tr>
    <td><%= h exclude.path %></td>
    <td><%= link_to 'Edit', edit_profile_exclude_path(@profile, exclude) %> |
    <%= link_to 'Destroy', [@profile, exclude], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </body>
</table>
</section>

<% add_action 'Add exclude', new_profile_exclude_path(@profile) if can?(:manage, Exclude) %>
    