<% if current_user %>
  <% content_for :header do %>
  Dashboard
  <% end %>
<h2>Now running</h2>
<%= render_cell :backup_jobs, :running %>
<h2>Backup server information</h2>
<%= render_cell :backup_servers, :count %>
<%= render_cell :backup_servers, :status %>


<% else %>
  <% content_for :header do %>
    Log in
  <% end %>
  <%= render_cell :login, :login %>
<% end %>
