<% content_for :header do %>
  Excludes
<% end %>

<table class="index sortable">
  <thead>
  <tr>
    <th>Path</th>
  </tr>
  </thead>
  <tbody>
<% @profile.includes.each do |include| %>
  <tr>
    <td><%= h include.path %></td>
    <td><%= link_to 'Edit', edit_profile_include_path(@profile, include) %> | 
    <%= link_to 'Destroy', [@profile, include], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= add_action 'Add include', new_profile_include_path(@profile) %>