<% content_for :header do %>
  Edit
<% end %>
<section>
<h3>Edit profile <%= @profile.name %></h3>
<%= render :partial => 'form' %>
</section>
<% add_action 'Show', @profile %>
<% add_action 'Add', new_profile_path %>