<% content_for :header do %>
  Backup Profiles
<% end %>
<% content_for :search do %>
  <% form_for @search, :html => {:id => 'search'} do |f| %>
      <%= f.text_field :name_like %>
  <% end %>
<% end %>

<div id="listing">
  <%= render :partial => 'listing' %>
</div>
<br />

<% add_action 'Add', new_profile_path %>