<p>
  <b>User:</b>
  <%=h @roles_user.user_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @roles_user.role_id %>
</p>


<%= link_to 'Edit', edit_roles_user_path(@roles_user) %> |
<%= link_to 'Back', roles_users_path %>