<% content_for :header do %>
   Server overview 
<% end %>
<p>
<% form_for @search, :html => {:id => 'search'} do |f| %>
    <%= f.label :hostname_like, 'Hostname' %>
    <%= f.text_field :hostname_like %>
    <%= f.submit 'Search' %>
<% end %>
<br />
<div id="listing">
<%= render :partial => 'listing' %>
</div>
<% add_action 'Add Server', new_server_path %>

