<% content_for :header do %>
   Server overview 
<% end %>
<p>
<% content_for :search do %>
  <% form_for @search, :html => {:id => 'search'} do |f| %>
      <%= f.text_field :hostname_like %>
  <% end %>
<% end %>

<br />
<div id="listing">
<%= render :partial => 'listing' %>
</div>
<% add_action 'Add', new_server_path %>

