<% content_for :header do %>
  Users
<% end %>

<table class="index sortable">
  <thead>
  <tr>
    <th>Username</th>
    <th>In use by backup server</th>
  </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to h(user.username), user %></td>
    <td><%= h user.backup_server %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %> | 
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<% add_action 'Add', new_user_path %>