<h1>Jump to</h1>
<ul>
  <li><%= link_to 'Server overview', servers_path %></li>
  <li><%= link_to 'Backup profiles', profiles_path %></li>
  <li><%= link_to 'Backup servers', backup_servers_path %></li>
  <li><%= link_to 'User accounts', users_path %></li>
</ul>
