<% content_for :header do %>
  Edit
<% end %>
<section>
<h3>Edit split <%= @split.path %> for profile <%= @profile.name %></h3>
<%= render :partial => 'form' %>
</section>
<% add_action 'Show Profile', @profile %>
<% add_action 'Profile overview', profiles_path %>
