<% semantic_form_for(@backup_server) do |f| %>
  <% f.inputs do %>
    <%= f.input :hostname %>
    <%= f.input :zpool if @backup_server.zpool.blank? %>
    <%= f.input :max_backups, :label => 'Max concurrent backups', :hint => 'If you enable too much backups run longer and are more likely to fail' %>
  <% end %>
  <button type=submit>Save</button>
<% end %>