<% content_for :header do %>
  Edit
<% end %>
<section>
<h3>Edit backup server <%= @backup_server.hostname %></h3>

<%= render :partial => 'form' %>
</section>
<% add_action 'Show', @backup_server %>
<% add_action 'Add', new_backup_server_path %>