<% content_for :header do %>
  Backup servers
<% end %>
<section>
<h3>Listing</h3>
<table class="index sortable">
  <thead>
  <tr>
    <th>Hostname</th>
    <th>API user</th>
  </tr>
  </thead>
  <tbody>
<% @backup_servers.each do |backup_server| %>
  <tr>
    <td><%=link_to h( backup_server.hostname), backup_server %></td>
    <td><%= backup_server.user ? h(backup_server.user.username) : 'NONE: edit a user and set the backup server' %></td>
    <td><%= link_to 'Edit', edit_backup_server_path(backup_server) %> | 
    <%= link_to 'Destroy', backup_server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
</section>
<% add_action 'Add', new_backup_server_path %>